<!-- <section class="search-bar py-4 bg-light border-bottom">
  <div class="container">
    <form class="row g-3 align-items-center" action="/products/search-results" method="GET"> -->

      <!-- Search Input -->
      <!-- <div class="col-lg-4 col-md-6">
        <div class="input-group shadow-sm">
          <input
            type="text"
            name="search"
            class="form-control px-4 rounded-start"
            placeholder="Search for jewelry..."
            aria-label="Search"
          />
          <button class="btn btn-dark rounded-end" type="submit">
            Search
          </button>
        </div>
      </div>
 
     

    </form>
  </div>
</section> -->
