<!-- Product Detail Modal -->
<div class="modal fade" id="productModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productModalTitle"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex gap-4">
        <img id="productModalImage" src="" alt="Product Image" class="img-fluid w-50">
        <div>
          <p id="productModalDescription"></p>
          <h5 class="text-danger">₹<span id="productModalPrice"></span></h5>
        </div>
      </div>
    </div>
  </div>
</div>
